[Desktop Entry]
Type=Application
Name=GeForce NOW
Exec=/usr/bin/google-chrome-stable --no-sandbox --disable-dev-shm-usage --no-first-run --start-maximized --app=https://play.geforcenow.com/mall
Terminal=false
X-GNOME-Autostart-enabled=true
